.Videos {
    .item {
        position: relative;
        overflow: hidden;
    }

    .destaque {
        margin-bottom: 34px;

        .item {
            display: none;

            .imagem {
                padding-top: 46%;
                width: 100%;
                transition: 2s;
            }

            &.active {
                display: block;
            }

            &:hover .imagem {
                transform: scale(1.2);
            }
        }

        .video {
            position: relative;
            padding-top: 46%;
            width: 100%;
            transition: 2s;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 11;
            }
        }
    }

    .play {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        height: 170px;
        background-image: url(../images/play.png);
        background-size: cover;
        z-index: 10;
        transform: translateY(-50%) translateX(-50%);

        @media(max-width: $desktop){
            width: 120px;
            height: 120px;
        }
        @media(max-width: $tablet){
            width: 80px;
            height: 80px;
        }
        @media(max-width: $phone){
            width: 50px;
            height: 50px;
        }
    }

    .itens {
        .item {
            position: relative;

            .play {
                width: 30px;
                height: 30px;
            }

           .imagem {
                position: relative;
                display: block;
                padding-top: 47%;
                width: 100%;
                transition: 500ms;
            }

            &:hover .imagem {
                opacity: 0.7;
            }
        }
    }
}
