<div class="Cookies">
    <div class="text">
        <h3>Nós usamos cookies</h3>
        <p>Este site usa cookies para aprimorar sua experiência de navegação.</p>
    </div>
    <div class="actions">
        <a class="link" href="{{ site.url }}/politica-de-privacidade">Saiba mais</a>
        <button class="Button">Ok</button>
    </div>
</div>
