{# {% macro menuToggle() %}
    <button class="Menu-toggle" type="button">
        <span class="label">Menu</span>
        <span class="icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </button>
{% endmacro %} #}
