// Breakpoints
// ------------------------------------
$desktop: 1440px !default;
$notebook: 1200px !default;
$tablet: 992px !default;
$phone: 768px !default;

// Typography
// ------------------------------------
$family-primary: 'Open Sans', sans-serif;
$family-heading: 'Open Sans', sans-serif;

// Colors
// ------------------------------------
$black: #393939;
$blue: #577F8A;
$lightgray: #EAEAEA;
$lightorange: #D6CBB6;

$color-primary: $black;
$color-text: $black;
